@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none;
}
body{
    background-color: #000000;
    
    
}
section{
    width: 100%;
    height: 48vw;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(81, 74, 74, 0.863);
    color: white;
    padding: 8px 80px;
}
.logo{
    width: 20%;
    margin: 30px;    
}
.logo h1{
    color: #ff0000;
    transform: scale(1.6);
    font-family: 'Creepster', cursive;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    
}
.navbar ul li{
    margin: 40px;
    transform: scale(1.4);
}
.navbar ul li a{
    color: rgb(255, 255, 255);
}
.navbar ul li a:hover,
#act{
    color: #ff0000;
    text-decoration: underline;
}

.home-border{
    width: 100%;
    height: 37.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.border{
    width: 80%;
    height: 32vw;
    background-color: rgba(81, 74, 74, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    box-shadow: 0 0 10px red;
}

.border:hover{
    box-shadow: 0 0 20px red;
}
.border h1{
    
    color: rgb(255, 0, 0);
    font-family: 'Creepster', cursive;
    transform: scale(2);
    position: absolute;
    left: 270px;
    top: 240px;
    
}
.border p {
    width: 30%;
    transform: scale(1.4);
    position: absolute;
    left: 235px;
    top: 350px;

}
.border .social{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.border .social ul{
    display: flex;
    position: absolute;
    left: 100px;
}



.border .social{
    transform: scale(1.2);
    position: absolute;
    top: 500px;
    left: 240px;
    color: #ffffff;

    
}

.border .social .btn{
    width: 100px;
    transform: scale(2);
    position: absolute;
    left:20px;
}
.border .social .btn button{
    border: solid rgb(255, 0, 0) 1px;
    border-radius: 18px;
    padding: 2px;
    background-color:rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 0, 0);
    margin: 4px;
}
.border .social .btn button:hover{
    background-color: transparent;
    color: rgb(255, 0, 0);
    box-shadow: none;
}
.border .social a{
    color:rgb(255, 0, 0);
    font-size: 20px;
    border: solid 2px;
    border-radius: 50%;
    padding: 8px;
    margin: 0 7px;
}

.border .social a:hover{
    background-color: rgb(255, 0, 0);
    box-shadow:0 0 10px rgb(255, 0, 0);
    color: #000000;
    border: aqua;
}
.border-img{
    width: 350px;
    height: 350px;
    background-color: none;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 150px;
    overflow: hidden;

}

.border-img:hover{
    box-shadow: 0 0 20px red;
}



.border-img img{
    width: 270px;
    position: absolute;
    right: 20px;
}




